.products{
    padding: 30px 50px;
    display: flex;
  
}
.leftt1{
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;
}
.filterItem{
    margin-bottom: 10px;
}
.filterItem1{
    margin-bottom: 30px;
}
.h1{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 24px;
    color: #020202;
}
.inputItem1{
    margin-bottom: 10px;
}
label{
    margin-left: 10px;
}
.right5{
    flex: 3;
}
.catImg1{
 width: 100%;
 height: 300px;
 object-fit: cover;
 margin-bottom: 40px;
}